USE [QLBanHang]
GO
/****** Object:  Table [dbo].[CHITIETDATHANG]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDATHANG](
	[IdChiTietDatHang] [int] IDENTITY(1,1) NOT NULL,
	[IdDatHang] [int] NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuong] [decimal](18, 2) NOT NULL,
	[GiamGia] [decimal](18, 2) NOT NULL,
	[TongCong] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_CHITIETDATHANG1] PRIMARY KEY CLUSTERED 
(
	[IdChiTietDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONBAN]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONBAN](
	[MaDonBan] [nvarchar](10) NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[GiaBan] [float] NULL,
	[SoLuong] [int] NULL,
	[TenSP] [nvarchar](100) NULL,
 CONSTRAINT [PK_CHITIETDONBAN] PRIMARY KEY CLUSTERED 
(
	[MaDonBan] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONNHAP]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONNHAP](
	[MaDonNhap] [nvarchar](10) NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[GiaNhap] [float] NULL,
	[GiaBan] [float] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonNhap] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKM]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKM](
	[MaKM] [nvarchar](10) NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[ThoiHanKM] [nvarchar](50) NULL,
	[GiaTriKM] [float] NULL,
	[GhiChu] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUNO]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUNO](
	[MaSoThu] [nvarchar](10) NOT NULL,
	[MaDonBan] [nvarchar](10) NOT NULL,
	[SoTienThu] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSoThu] ASC,
	[MaDonBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTRANO]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTRANO](
	[MaTraNo] [nvarchar](10) NOT NULL,
	[MaDonNhap] [nvarchar](10) NOT NULL,
	[SoTienTra] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTraNo] ASC,
	[MaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [nvarchar](10) NOT NULL,
	[TenCV] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DATHANG]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATHANG](
	[IdDatHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDonBan] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[SoDonHang] [varchar](250) NOT NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[TongSoCuoiCung] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DATHANG1] PRIMARY KEY CLUSTERED 
(
	[IdDatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONBANHANG]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONBANHANG](
	[MaDonBan] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayLap] [datetime] NULL,
	[KieuThanhToan] [nvarchar](50) NULL,
	[Thue] [float] NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANGNHAP]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANGNHAP](
	[MaDonNhap] [nvarchar](10) NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayLap] [datetime] NULL,
	[NguoiLap] [nvarchar](30) NULL,
	[KieuThanhToan] [nvarchar](50) NULL,
	[Thue] [float] NULL,
	[ThanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAODICH]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAODICH](
	[IdGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [nvarchar](10) NOT NULL,
	[SoLuong] [decimal](18, 2) NOT NULL,
	[NgayGiaoDich] [date] NOT NULL,
 CONSTRAINT [PK_GIAODICH] PRIMARY KEY CLUSTERED 
(
	[IdGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGKHUYENMAI]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGKHUYENMAI](
	[MaKM] [nvarchar](10) NOT NULL,
	[TenKM] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[email] [nvarchar](30) NULL,
	[STK] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MaKho] [nvarchar](10) NOT NULL,
	[TenKho] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[email] [nvarchar](50) NULL,
	[STK] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](10) NOT NULL,
	[MaPB] [nvarchar](10) NOT NULL,
	[MaCV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHOMHANG]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMHANG](
	[MaNH] [nvarchar](10) NOT NULL,
	[TenNH] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUBAOHANH]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUBAOHANH](
	[MaPBH] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[ТепРВН] [nvarchar](50) NULL,
	[LyDoBH] [nvarchar](100) NULL,
	[NgayBan] [datetime] NULL,
	[ThoiGianBH] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MaPB] [nvarchar](10) NOT NULL,
	[TenPB] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MaSP] [nvarchar](10) NOT NULL,
	[MaNH] [nvarchar](10) NOT NULL,
	[MaKho] [nvarchar](10) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[CPU] [nvarchar](50) NULL,
	[RAM] [nvarchar](30) NULL,
	[DungLuong] [nvarchar](30) NULL,
	[KichThuoc] [nvarchar](10) NULL,
	[NhaSX] [nvarchar](50) NULL,
	[NuocSX] [nvarchar](50) NULL,
	[GiaBan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTHUNO]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTHUNO](
	[MaThuNo] [nvarchar](10) NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[NgayLap] [datetime] NULL,
	[NguoiLap] [nvarchar](30) NULL,
	[SoTienThu] [float] NULL,
	[NoiDung] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOTRANO]    Script Date: 10/24/2024 11:48:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOTRANO](
	[MaTraNo] [nvarchar](10) NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
	[NgayLap] [datetime] NULL,
	[NguoiLap] [nvarchar](30) NULL,
	[NoiDung] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTraNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHITIETDATHANG] ON 

INSERT [dbo].[CHITIETDATHANG] ([IdChiTietDatHang], [IdDatHang], [MaSP], [DonGia], [SoLuong], [GiamGia], [TongCong]) VALUES (3, 15, N'SP01', CAST(100.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[CHITIETDATHANG] OFF
GO
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV01', N'Giám đốc')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV02', N'Bảo vệ')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV03', N'Nhân viên bán hàng')
GO
SET IDENTITY_INSERT [dbo].[DATHANG] ON 

INSERT [dbo].[DATHANG] ([IdDatHang], [MaDonBan], [MaKH], [SoDonHang], [NgayDatHang], [TongSoCuoiCung]) VALUES (15, N'ĐB01', N'KH01', N'1422356734', CAST(N'2024-05-19T00:00:00.000' AS DateTime), CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DATHANG] OFF
GO
INSERT [dbo].[DONBANHANG] ([MaDonBan], [MaKH], [MaNV], [NgayLap], [KieuThanhToan], [Thue], [ThanhTien]) VALUES (N'ĐB01', N'KH02', N'NV_02', NULL, N'Chuyển khoản', NULL, NULL)
INSERT [dbo].[DONBANHANG] ([MaDonBan], [MaKH], [MaNV], [NgayLap], [KieuThanhToan], [Thue], [ThanhTien]) VALUES (N'ĐB02', N'KH01', N'NV_01', NULL, N'Tiền mặt', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[GIAODICH] ON 

INSERT [dbo].[GIAODICH] ([IdGiaoDich], [MaSP], [SoLuong], [NgayGiaoDich]) VALUES (3, N'SP01', CAST(2.00 AS Decimal(18, 2)), CAST(N'2024-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[GIAODICH] OFF
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [email], [STK]) VALUES (N'KH01', N'Nguyễn Văn  Chương', N'Thôn Tiên Quán, xã Phạm Ngũ Lão, huyện Kim Động, tỉnh Hưng Yên', N'0703205823', N'nvchuongg@gmail.com', N'0777777777777777')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [SDT], [email], [STK]) VALUES (N'KH02', N'Võ Thiên Khánh', N'Khu phố 4, phường Linh Trung, thành phố Thủ Đức, thành phố Hồ Chí Minh', N'0703205823', N'nvchuongg@gmail.com', N'07777777777777773')
GO
INSERT [dbo].[KHOHANG] ([MaKho], [TenKho], [DiaChi]) VALUES (N'Kho1', N'Kho Nguyễn Chí Thanh', N'90 Nguyễn Chí Thanh Quận 5')
INSERT [dbo].[KHOHANG] ([MaKho], [TenKho], [DiaChi]) VALUES (N'Kho2', N'Kho Tham Lương', N'900 Trường Chinh')
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [MaPB], [MaCV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [SDT]) VALUES (N'NV_01', N'PB02', N'CV01', N'Nguyễn Văn Chương', CAST(N'2003-05-23T00:00:00.000' AS DateTime), N'Nam', N'Thôn Tiên Quán, xã Phạm Ngũ Lão, huyện Kim Động, tỉnh Hưng Yên', N'0703205823')
INSERT [dbo].[NHANVIEN] ([MaNV], [MaPB], [MaCV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [SDT]) VALUES (N'NV_02', N'PB02', N'CV01', N'Võ Thiên Khánh', CAST(N'2024-03-23T00:00:00.000' AS DateTime), N'Nam', N'90 Nguyễn Chí Thanh Quận 6', N'0703205823')
INSERT [dbo].[NHANVIEN] ([MaNV], [MaPB], [MaCV], [TenNV], [NgaySinh], [GioiTinh], [DiaChi], [SDT]) VALUES (N'NV_03', N'PB04', N'CV02', N'Nguyễn Trung Tiến', CAST(N'2003-05-23T00:00:00.000' AS DateTime), N'Nam', N'Khu phố 4, phường Linh Trung, thành phố Thủ Đức, thành phố Hồ Chí Minh', N'0703205823')
GO
INSERT [dbo].[NHOMHANG] ([MaNH], [TenNH]) VALUES (N'NH001', N'Laptop')
INSERT [dbo].[NHOMHANG] ([MaNH], [TenNH]) VALUES (N'NH002', N'Linh Kiện')
INSERT [dbo].[NHOMHANG] ([MaNH], [TenNH]) VALUES (N'NH003', N'Màn Hình')
GO
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB]) VALUES (N'PB01', N'Sửa chữa kỹ thuật ')
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB]) VALUES (N'PB02', N'Sửa chữa kỹ thuật laptop')
INSERT [dbo].[PHONGBAN] ([MaPB], [TenPB]) VALUES (N'PB03', N'Tài chính')
GO
INSERT [dbo].[SANPHAM] ([MaSP], [MaNH], [MaKho], [TenSP], [CPU], [RAM], [DungLuong], [KichThuoc], [NhaSX], [NuocSX], [GiaBan]) VALUES (N'SP01', N'NH001', N'Kho1', N'Laptop Gigabyte G5 MF5-H2VN353SH', N'Intel Core i7 13620H  6 nhân P và 4 nhân E', N'DDR5 4800MHz', N'16GB', N'360x238mm', N'Laptop Gigabyte', N'Việt Nam', N'23.000.000')
INSERT [dbo].[SANPHAM] ([MaSP], [MaNH], [MaKho], [TenSP], [CPU], [RAM], [DungLuong], [KichThuoc], [NhaSX], [NuocSX], [GiaBan]) VALUES (N'SP02', N'NH001', N'Kho1', N'MIS G5 MF5-H2VN353SH', N'Intel Core i7 13620H  6 nhân P và 4 nhân E', N'1TB', N'16GB', N'360x238mm', N'Laptop Gigabyte', N'Việt Nam', N'')
INSERT [dbo].[SANPHAM] ([MaSP], [MaNH], [MaKho], [TenSP], [CPU], [RAM], [DungLuong], [KichThuoc], [NhaSX], [NuocSX], [GiaBan]) VALUES (N'SP03', N'NH001', N'Kho1', N'Laptop Asus ROG Zephyrus M16', N'Intel Core i9-13900H ', N'16GB DDR5 4800Mhz', N'32GB', N' 35x246mm', N'USA', N'USA', N'77.990.000')
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDATHANG1_DATHANG] FOREIGN KEY([IdDatHang])
REFERENCES [dbo].[DATHANG] ([IdDatHang])
GO
ALTER TABLE [dbo].[CHITIETDATHANG] CHECK CONSTRAINT [FK_CHITIETDATHANG1_DATHANG]
GO
ALTER TABLE [dbo].[CHITIETDONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONBAN_DONBANHANG] FOREIGN KEY([MaDonBan])
REFERENCES [dbo].[DONBANHANG] ([MaDonBan])
GO
ALTER TABLE [dbo].[CHITIETDONBAN] CHECK CONSTRAINT [FK_CHITIETDONBAN_DONBANHANG]
GO
ALTER TABLE [dbo].[CHITIETDONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONBAN_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETDONBAN] CHECK CONSTRAINT [FK_CHITIETDONBAN_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_MaDonNhap] FOREIGN KEY([MaDonNhap])
REFERENCES [dbo].[DONHANGNHAP] ([MaDonNhap])
GO
ALTER TABLE [dbo].[CHITIETDONNHAP] CHECK CONSTRAINT [FK_CHITIETDONHANG_MaDonNhap]
GO
ALTER TABLE [dbo].[CHITIETDONNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETDONNHAP] CHECK CONSTRAINT [FK_CHITIETDONHANG_MaSP]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKM_MaKM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[HANGKHUYENMAI] ([MaKM])
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK_CHITIETKM_MaKM]
GO
ALTER TABLE [dbo].[CHITIETKM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKM_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHITIETKM] CHECK CONSTRAINT [FK_CHITIETKM_MaSP]
GO
ALTER TABLE [dbo].[CHITIETTHUNO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUNO_MaDonBan] FOREIGN KEY([MaDonBan])
REFERENCES [dbo].[DONBANHANG] ([MaDonBan])
GO
ALTER TABLE [dbo].[CHITIETTHUNO] CHECK CONSTRAINT [FK_CHITIETTHUNO_MaDonBan]
GO
ALTER TABLE [dbo].[CHITIETTHUNO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTHUNO_MaSoThu] FOREIGN KEY([MaSoThu])
REFERENCES [dbo].[SOTHUNO] ([MaThuNo])
GO
ALTER TABLE [dbo].[CHITIETTHUNO] CHECK CONSTRAINT [FK_CHITIETTHUNO_MaSoThu]
GO
ALTER TABLE [dbo].[CHITIETTRANO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTRANO_MaDonNhap] FOREIGN KEY([MaDonNhap])
REFERENCES [dbo].[DONHANGNHAP] ([MaDonNhap])
GO
ALTER TABLE [dbo].[CHITIETTRANO] CHECK CONSTRAINT [FK_CHITIETTRANO_MaDonNhap]
GO
ALTER TABLE [dbo].[CHITIETTRANO]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTRANO_MaTraNo] FOREIGN KEY([MaTraNo])
REFERENCES [dbo].[SOTRANO] ([MaTraNo])
GO
ALTER TABLE [dbo].[CHITIETTRANO] CHECK CONSTRAINT [FK_CHITIETTRANO_MaTraNo]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_DONBANHANG] FOREIGN KEY([MaDonBan])
REFERENCES [dbo].[DONBANHANG] ([MaDonBan])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_DONBANHANG]
GO
ALTER TABLE [dbo].[DATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DATHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DATHANG] CHECK CONSTRAINT [FK_DATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONBANHANG_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[DONBANHANG] CHECK CONSTRAINT [FK_DONBANHANG_MaKH]
GO
ALTER TABLE [dbo].[DONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONBANHANG_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONBANHANG] CHECK CONSTRAINT [FK_DONBANHANG_MaNV]
GO
ALTER TABLE [dbo].[DONHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DONHANGNHAP_MaNCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[DONHANGNHAP] CHECK CONSTRAINT [FK_DONHANGNHAP_MaNCC]
GO
ALTER TABLE [dbo].[DONHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DONHANGNHAP_MaNV] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[DONHANGNHAP] CHECK CONSTRAINT [FK_DONHANGNHAP_MaNV]
GO
ALTER TABLE [dbo].[GIAODICH]  WITH CHECK ADD  CONSTRAINT [FK_GIAODICH_SANPHAM] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SANPHAM] ([MaSP])
GO
ALTER TABLE [dbo].[GIAODICH] CHECK CONSTRAINT [FK_GIAODICH_SANPHAM]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MaCV] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MaCV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_MaPB] FOREIGN KEY([MaPB])
REFERENCES [dbo].[PHONGBAN] ([MaPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_MaPB]
GO
ALTER TABLE [dbo].[PHIEUBAOHANH]  WITH CHECK ADD  CONSTRAINT [FK_BAOHANH_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUBAOHANH] CHECK CONSTRAINT [FK_BAOHANH_MaKH]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MaKho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[KHOHANG] ([MaKho])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MaKho]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_MaNH] FOREIGN KEY([MaNH])
REFERENCES [dbo].[NHOMHANG] ([MaNH])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_MaNH]
GO
ALTER TABLE [dbo].[SOTHUNO]  WITH CHECK ADD  CONSTRAINT [FK_SOTHNO_MaNCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[SOTHUNO] CHECK CONSTRAINT [FK_SOTHNO_MaNCC]
GO
ALTER TABLE [dbo].[SOTHUNO]  WITH CHECK ADD  CONSTRAINT [FK_SOTHUNO_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[SOTHUNO] CHECK CONSTRAINT [FK_SOTHUNO_MaKH]
GO
ALTER TABLE [dbo].[SOTRANO]  WITH CHECK ADD  CONSTRAINT [FK_SOTRANO_MaNCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NCC] ([MaNCC])
GO
ALTER TABLE [dbo].[SOTRANO] CHECK CONSTRAINT [FK_SOTRANO_MaNCC]
GO
