@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_LayoutVC.cshtml";
}
<!-- Page-body start -->
<div class="page-body">
    <div class="row">
        <!-- Material statustic card start -->
        <div class="col-xl-4 col-md-12">
            <div class="card mat-stat-card">
                <div class="card-block">
                    <div class="row align-items-center b-b-default">
                        <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="far fa-user text-c-purple f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>10K</h5>
                                    <p class="text-muted m-b-0">Khách</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-20 p-t-20">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="fas fa-volume-down text-c-green f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>100%</h5>
                                    <p class="text-muted m-b-0">Âm lượng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="far fa-file-alt text-c-red f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>2000+</h5>
                                    <p class="text-muted m-b-0">Các tập tin</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-20 p-t-20">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="far fa-envelope-open text-c-blue f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>120</h5>
                                    <p class="text-muted m-b-0">Thư</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card mat-stat-card">
                <div class="card-block">
                    <div class="row align-items-center b-b-default">
                        <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="fas fa-share-alt text-c-purple f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>1000</h5>
                                    <p class="text-muted m-b-0">Chia sẻ</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-20 p-t-20">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="fas fa-sitemap text-c-green f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>600</h5>
                                    <p class="text-muted m-b-0">Mạng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="fas fa-signal text-c-red f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>350</h5>
                                    <p class="text-muted m-b-0">Trả lại</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 p-b-20 p-t-20">
                            <div class="row align-items-center text-center">
                                <div class="col-4 p-r-0">
                                    <i class="fas fa-wifi text-c-blue f-24"></i>
                                </div>
                                <div class="col-8 p-l-0">
                                    <h5>100%</h5>
                                    <p class="text-muted m-b-0">Kết nối</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-12">
            <div class="card mat-clr-stat-card text-white green ">
                <div class="card-block">
                    <div class="row">
                        <div class="col-3 text-center bg-c-green">
                            <i class="fas fa-star mat-icon f-24"></i>
                        </div>
                        <div class="col-9 cst-cont">
                            <h5>4000+</h5>
                            <p class="m-b-0">Xếp hạng đã nhận</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mat-clr-stat-card text-white blue">
                <div class="card-block">
                    <div class="row">
                        <div class="col-3 text-center bg-c-blue">
                            <i class="fas fa-trophy mat-icon f-24"></i>
                        </div>
                        <div class="col-9 cst-cont">
                            <h5>17</h5>
                            <p class="m-b-0">Thành tựu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Material statustic card end -->
        <!-- order-visitor start -->
        <!-- order-visitor end -->
        <!--  sale analytics start -->
        <div class="col-xl-6 col-md-12">
            <div class="card table-card">
                <div class="card-header">
                    <h5>Hiệu suất của thành viên</h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                            <li><i class="fa fa-window-maximize full-card"></i></li>
                            <li><i class="fa fa-minus minimize-card"></i></li>
                            <li><i class="fa fa-refresh reload-card"></i></li>
                            <li><i class="fa fa-trash close-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-hover m-b-0 without-header">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <img src="~/Assets1/assets/images/Tiến1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                            <div class="d-inline-block">
                                                <h6>Nguyễn Trung Tiến</h6>
                                                <p class="text-muted m-b-0">Nhân viên kinh doanh, NY</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <h6 class="f-w-700">78.001.000 VNĐ<i class="fas fa-level-down-alt text-c-red m-l-10"></i></h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <img src="~/Assets1/assets/images/Tuấn.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                            <div class="d-inline-block">
                                                <h6>Nguyễn Anh Tuấn</h6>
                                                <p class="text-muted m-b-0">Bảo vệ , EL</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <h6 class="f-w-700">89.051.000 VNĐ<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                            <img src="~/Assets1/assets/images/Chương1.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                            <div class="d-inline-block">
                                                <h6>Nguyễn Văn Chương</h6>
                                                <p class="text-muted m-b-0">Phó giám đốc , NY</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <h6 class="f-w-700">89.051.000 VNĐ<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="d-inline-block align-middle">
                                             <img src="~/Assets1/assets/images/Thư ký.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                                            <div class="d-inline-block">
                                                <h6>Vermouth</h6>
                                                <p class="text-muted m-b-0">Thư ký của phó giám đốc , EL</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <h6 class="f-w-700">89.051.000 VNĐ<i class="fas fa-level-up-alt text-c-green m-l-10"></i></h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-12">
            <div class="row">
                <!-- sale card start -->

                <div class="col-md-6">
                    <div class="card text-center order-visitor-card">
                        <div class="card-block">
                            <h6 class="m-b-0">Tổng số đăng ký</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-down m-r-15 text-c-red"></i>7652</h4>
                            <p class="m-b-0">48% từ 24 giờ qua</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center order-visitor-card">
                        <div class="card-block">
                            <h6 class="m-b-0">Tình trạng đặt hàng</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>6325</h4>
                            <p class="m-b-0">36% từ 6 tháng qua</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-c-red total-card">
                        <div class="card-block">
                            <div class="text-left">
                                <h4>489</h4>
                                <p class="m-0">Tổng số bình luận</p>
                            </div>
                            <span class="label bg-c-red value-badges">15%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card bg-c-green total-card">
                        <div class="card-block">
                            <div class="text-left">
                                <h4>$5782</h4>
                                <p class="m-0">Tình trạng thu nhập</p>
                            </div>
                            <span class="label bg-c-green value-badges">20%</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center order-visitor-card">
                        <div class="card-block">
                            <h6 class="m-b-0">Số lượng khách truy cập</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-down m-r-15 text-c-red"></i>652</h4>
                            <p class="m-b-0">36% từ 6 tháng qua</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center order-visitor-card">
                        <div class="card-block">
                            <h6 class="m-b-0">Thu nhập hàng tháng</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-arrow-up m-r-15 text-c-green"></i>5963</h4>
                            <p class="m-b-0">36% từ 6 tháng qua</p>
                        </div>
                    </div>
                </div>
                <!-- sale card end -->
            </div>
        </div>
        <!--  sale analytics end -->
        <!-- Project statustic start -->
        <div class="col-xl-12">
            <div class="card proj-progress-card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <h6>Dự án đã xuất bản</h6>
                            <h5 class="m-b-30 f-w-700">532<span class="text-c-green m-l-10">+1.69%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-c-red" style="width:25%"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <h6>Nhiệm vụ đã hoàn thành</h6>
                            <h5 class="m-b-30 f-w-700">4,569<span class="text-c-red m-l-10">-0.5%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-c-blue" style="width:65%"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <h6>Nhiệm vụ thành công</h6>
                            <h5 class="m-b-30 f-w-700">89%<span class="text-c-green m-l-10">+0.99%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-c-green" style="width:85%"></div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <h6>Dự án đang thực hiện</h6>
                            <h5 class="m-b-30 f-w-700">365<span class="text-c-green m-l-10">+0.35%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-c-yellow" style="width:45%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project statustic end -->
    </div>
</div>
<!-- Page-body end -->
