@model QLBanHang.Models.CHUCVU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutVC.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có chắc chắn muốn xóa cái này không?</h3>
<div>
    <h4>CHUCVU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCV)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
